<h1>Edit: <%=@museum.name %></h1>
<h6>Click on a art to edit it.</h6>
<% if @arts.any?() %>
  <% @arts.each() do |art| %>
  <h5><a class="btn btn-default" href="/curator/artworks/<%=art.id%>"><%= art.name() %></a></h5>
  <% end %>
<% else %>
  <h5>No Art</h5>
<% end %>

<form action="/curator/museums/<%=@museum.id%>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="museum_name">Update Museum Name</label>
  <input type="text" name="museum_name">
  <button type="submit">Change</button>
</form>

<form action="/curator/museums/<%=@museum.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Remove this Museum</button>
</form>
<br>
<br>
<a class="btn btn-default" href="/">Home</a>
<a class="btn btn-default" href="/curator/museums">Back</a>
